Business Name: Tadder-Tots
What do I sell: Pop Tarts / Jelly Filled Goods. 


How do we sell? Fresh Desert Deliveries + packaged Treats 
Pages? Checkout Page / 


Front Page
- Finish Menu 
- Checkout / Cart

Menu: 
Add Hover descriptions for more information and buttons for Quantity and adding to the cart

Cart Icon:
On click opens up a window to the side that shows whats currently in the cart and a button at the bottom to go to checkout.

Checkout:
Left side shows Items in cart and right side shows cost and to confirm that user wants to purchase

Payment Page:


backend 
- Account Login (Google Auth)
- Payment system (Stride)
- Contact Page


- Node.js (Runs backend)
- Express.js (Handles routes and requests)
 
 Database 
 - PostgreSQL 9Industry standard. larger projects)
 - SQLite (just for learning)
 - MongoDB

 Password Hashing 
 - bcrypt
 - dotenv (never put secrets directly in code(database url etc))

 Login Sessions
 - express-session (cookies)
 - jsonwebtoken

 express-validator(Never trust user input.)

Template Engine 
- EJS


Write insructions to sql file. Node.js to read and send to SQLite
Create .db file.

 Gitea (github replacement)
 shadcn (designs)