.menu {
    background: #fff7f2;
    padding: 4rem 1.5rem;
}

.menu-container {
    max-width: 1200px;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.menu-card {
    background: white;
    border-radius: 18px;

    overflow: hidden;

    box-shadow: 0 6px 18px rgba(0,0,0,0.08);

    transition: 0.3s;

    text-align: center;
}

.menu-card:hover {
    transform: translateY(-6px);
}

.menu-card img{
    width: 100%;
    height: 180px;

    object-fit: cover;
}

.menu-info{
    padding: 1rem;
}

.menu-info h3{
    color: #ff5f6d;
    margin-bottom: 0.5rem;
}

.menu-info p{
    color: #555;
    font-size: 0.9rem;
    margin-bottom: 0.7rem;
}

.menu-info span{
    display: inline-block;
    margin-top: 0.5rem;
    font-weight: bold;
    color: #333;
}

.menu-title {
    text-align: center;
    font-size: 2.6rem;
    font-weight: 700;

    color: #ff5f6d;

    margin-top: 2rem;
    margin-bottom: 0.5rem;
    letter-spacing: 0.5px;

    position: relative;
    display: inline-block;
}

.menu-title::after {
    content: "";

    display: block;
    width: 100%;
    height: 3px;
    background: #ff5f6d;
    margin: 10px auto 0;
    border-radius: 10px;
}

.menu-description {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
    color: #666;
    margin-bottom: 2.5rem;
    margin-top: 1rem;
    letter-spacing: 1px;
}

.menu-heading {
    text-align: center;
}

.menu-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    margin-top: 1rem;
}

.menu-actions input {
    width: 70px;
    padding: 0.6rem;
    border: 2px solid #ffd6d9;
    border-radius: 10px;
    text-align: center;
    outline: none;
    background: #fff7f2;
    transition: 0.3s;
}

.menu-actions input:focus {
    border-color: #ff5f6d;
}

.confirm-btn {
    background: #ff5f6d;
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    
    cursor: pointer;

    font-size: 1rem;
    font-weight: bold;

    transition: 0.3s;
}


.confirm-btn:hover {
    transform: scale(1.08);
    opacity: 0.9;
}

.cancel-btn {
    background: #f1f1f1;
    color: #555;
    border: none;

    width: 40px;
    height: 40px;

    border-radius: 10px;

    cursor: pointer;

    font-size: 1rem;
    font-weight: bold;

    transition: 0.3s;
}

.cancel-btn:hover {
    background: #ffe5e7;
    color: #ff5f6d;

    transform: scale(1.08);
}

@media (max-width: 1000px){
    .menu-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px){
    .menu-container{
        grid-template-columns: 1fr;
    }
}